# =========================
# Environment
# =========================
.env
.env.*
!.env.example

# =========================
# Dependencies
# =========================
/vendor/
/node_modules/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log
error_log

# =========================
# CodeIgniter Writable
# =========================
/writable/cache/*
/writable/debugbar/*
/writable/logs/*
/writable/session/*
/writable/uploads/*

# Keep index files
!/writable/cache/index.html
!/writable/debugbar/index.html
!/writable/logs/index.html
!/writable/session/index.html
!/writable/uploads/index.html

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# PHPUnit
# =========================
.phpunit.result.cache
.phpunit.cache/